footer {
  display:flex;
  flex-direction: column;
}
@media screen and (max-width:480px) {
	footer {
    font-size: 5px;
  }
  ul.footer-terms li a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.footer-terms {
  flex-wrap: wrap;
  background-color: rgb(75, 73, 73);
  padding: 10px;
  margin: 0;  
  justify-content: flex-start; 
}
ul.footer-terms li {
  list-style-type: none;
  display: inline;
  text-decoration: none;
}
ul.footer-terms li a {
  text-decoration: none;
  color:white;
  padding:10px;
  text-transform: uppercase;
}
.footer-copy {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 10px;
  margin: 0;
  display: flex;
  justify-content: flex-start; 
}
.footer-copy p a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}
.footer-terms li a:hover {
  text-decoration: underline; 
}
.footer-copy p a:hover {
  text-decoration: underline; 
}

              
                          
                      
                          
                    