img {  
  width: 100%;
}
section.main-one {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
  position: relative;
}
.main-one h2 {
  color: white;
  background-color: black;
  position: absolute;
  bottom: 0px;
  margin: 10px;
  z-index: 1;
  font-size: 3vw;
}
.main-two {  
  display: flex;
  flex-wrap: wrap;
}
.ads {
  flex: 30%;
  flex-direction: column;
}
.ads div {
  margin: 10px;
}
.ads div > img {
  width: 100%;
  height: auto;
}
.other-news {
  flex: 70%;
  padding: 20px;
}
.main-two article.news-one {
  position: relative;
}
.main-two article.news-one h2 {
  color: white;
  background-color: black;
  position: absolute;
  bottom: 0px;
  margin: 10px;
  z-index: 1;
  font-size: 2vw;
}
.main-one h2:hover, .news-one h2:hover, .news-two h2:hover {
  text-decoration: underline;
}
.main-two article.news-two {
  position: relative;
}
.main-two article.news-two h2 {
  color: white;
  background-color: black;
  position: absolute;
  bottom: 0px;
  margin:10px;
  z-index:1;
  font-size:2vw;
}
.main-forms{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  margin:10px;
  padding:0;
  }
  .main-forms > div{
  display:flex;
  width : 50%;
  justify-content: center;
  }
  div > div{
  justify-content: center;
  align-items:center;
  width : 50%;
  font-size:2vw;
  height: 10vw;
  }
  input{
    width : 100%;
    font-size:2vw;
  }
  #button>input{
    margin:15px;
    width:15vw; 
    color:white; 
    background-color:grey;
    justify-content: center;
    align-items:center;
  }

@media screen and (max-width:480px){
  span.bars-hidden {
    display: flex;
    justify-content: center;
  }
  .main-two {   
    flex-direction: column;
  }
  .ads div img {
    width: 100%;
    height: 50px;
  } 
  .main-forms > div{
    width : 100%;
  }
}

  