nav {
  background-color: rgb(79, 50, 207);
  border-bottom: red 3px solid;
}
@media screen and (max-width:480px) {
  nav{
    font-size: 5px;
  }
  ul.nav-bar-menu li a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.nav-bar-menu {
  flex-wrap: wrap;
  padding:10px;
  margin:0;  
  justify-content: flex-start; 
}
.nav-bar-menu div:hover {
  text-decoration: underline;
}
ul.nav-bar-menu li {
  list-style-type: none;
  display:inline;
  text-decoration: none;
}
ul.nav-bar-menu li a {
  text-decoration: none;
  color:white;
  padding:10px;
  text-transform: uppercase;
}
.nav-bar-menu li a:hover {
  text-decoration: underline; 
}