* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size:15px;
  line-height: 1.5;
  margin:0;
  padding:0;
}
span.bars-hidden i {
  display:none;
}
@media screen and (max-width:480px) {
  span.bars-hidden{
    display:flex;
    justify-content: center;
  }
}
@media screen and (min-width:480px) {
	span.bars-hidden{
		display:none;
  }
}
